Part 1

In [2]:
import numpy as np
import pandas as pd
import re
import nltk
import warnings
warnings.filterwarnings("ignore")

In [3]:
data=pd.read_csv("Dataset+-+blogtext.csv")

In [4]:
data.head(10)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o..."
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...

In [5]:
data.isna().any()

id        False
gender    False
age       False
topic     False
sign      False
date      False
text      False
dtype: bool

In [6]:
data.shape

(681284, 7)

In [7]:
data=data.head(10000)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10000 non-null  int64
 1   gender  10000 non-null  object
 2   age     10000 non-null  int64
 3   topic   10000 non-null  object
 4   sign    10000 non-null  object
 5   date    10000 non-null  object
 6   text    10000 non-null  object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [9]:
data.drop(['id','date'], axis=1, inplace=True)

In [10]:
data.head()

,gender,age,topic,sign,text
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,..."
1,male,15,Student,Leo,These are the team members: Drewe...
2,male,15,Student,Leo,In het kader van kernfusie op aarde...
3,male,15,Student,Leo,testing!!! testing!!!
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...

In [11]:
data['age']=data['age'].astype('object')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  10000 non-null  object
 1   age     10000 non-null  object
 2   topic   10000 non-null  object
 3   sign    10000 non-null  object
 4   text    10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

In [13]:
data['clean_data']=data['text'].apply(lambda x: re.sub(r'[^A-Za-z]+',' ',x))

In [14]:
data['clean_data']=data['clean_data'].apply(lambda x: x.lower())

In [15]:
data['clean_data']=data['clean_data'].apply(lambda x: x.strip())

In [16]:
print("Actual data=======> {}".format(data['text'][1]))

Actual data=======>            These are the team members:   Drewes van der Laag           urlLink mail  Ruiyu Xie                     urlLink mail  Bryan Aaldering (me)          urlLink mail

In [17]:
print("Cleaned data=======> {}".format(data['clean_data'][1]))

Cleaned data=======> these are the team members drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering me urllink mail

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [20]:
from nltk.corpus import stopwords
stopwords=set(stopwords.words('english'))

In [21]:
data['clean_data']=data['clean_data'].apply(lambda x: ' '.join([words for words in x.split() if words not in stopwords]))

In [23]:
data['clean_data'][7]

'anything korea country extremes everything seems fad based think may come korea history invaded reported times years time got independence imagine move quickly get next level next war occupation lately well really lately japanese occupation ended korean war occurred turmoil park chung hee took dictator president elections everyone encouraged vote still dictator assassination next leaders basically ilk president park amazing things time however took incredibly backward country set road industrialization japan stripped korea resources people even language culture many buildings palaces razed japanese official language president park determined change orchestrated han river miracle han river hangang main river seoul korea korea made terrific strides expense civil liberties fastforward present point see korea world wired nation canada finland way beyond u craze pc pc bangs rooms everywhere country well instead playstation like games players go computer one two people korean gamers always communal types play online games hundreds thousands others typical korean fashion gamers left seat second could pause game fact may eliminated pcbang owners sold drinks ramen nooodles junk clientele matter time someone died related urllink article yes someone died pc people thought sleeping imagine long really checked alas first known casulty net korea maybe world korea built extremes good bad'

In [24]:
data['labels']=data.apply(lambda col: [col['gender'],str(col['age']),col['topic'],col['sign']], axis=1)

In [25]:
data.head()

,gender,age,topic,sign,text,clean_data,labels
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,...",info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,male,15,Student,Leo,These are the team members: Drewe...,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,male,15,Student,Leo,In het kader van kernfusie op aarde...,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,male,15,Student,Leo,testing!!! testing!!!,testing testing,"[male, 15, Student, Leo]"
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [26]:
data=data[['clean_data','labels']]

In [27]:
data.head()

,clean_data,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [49]:
data.shape

(10000, 2)

In [28]:
X=data['clean_data']
Y=data['labels']

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

In [30]:
vectorizer=CountVectorizer(binary=True, ngram_range=(1,2))

In [31]:
X=vectorizer.fit_transform(X)

In [32]:
X[1]

<1x643302 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

In [33]:
vectorizer.get_feature_names()[:5]

['aa', 'aa amazing', 'aa anger', 'aa compared', 'aa keeps']

In [34]:
label_counts=dict()

for labels in data.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label]+=1
        else:
            label_counts[label]=1

In [35]:
label_counts

{'male': 5916,
 '15': 602,
 'Student': 1137,
 'Leo': 301,
 '33': 136,
 'InvestmentBanking': 70,
 'Aquarius': 571,
 'female': 4084,
 '14': 212,
 'indUnk': 3287,
 'Aries': 4198,
 '25': 386,
 'Capricorn': 215,
 '17': 1185,
 'Gemini': 150,
 '23': 253,
 'Non-Profit': 71,
 'Cancer': 504,
 'Banking': 16,
 '37': 33,
 'Sagittarius': 1097,
 '26': 234,
 '24': 655,
 'Scorpio': 971,
 '27': 1054,
 'Education': 270,
 '45': 16,
 'Engineering': 127,
 'Libra': 491,
 'Science': 63,
 '34': 553,
 '41': 20,
 'Communications-Media': 99,
 'BusinessServices': 91,
 'Sports-Recreation': 80,
 'Virgo': 236,
 'Taurus': 812,
 'Arts': 45,
 'Pisces': 454,
 '44': 3,
 '16': 440,
 'Internet': 118,
 'Museums-Libraries': 17,
 'Accounting': 4,
 '39': 79,
 '35': 2315,
 'Technology': 2654,
 '36': 1708,
 'Law': 11,
 '46': 7,
 'Consulting': 21,
 'Automotive': 14,
 '42': 14,
 'Religion': 9,
 '13': 42,
 'Fashion': 1622,
 '38': 46,
 '43': 6,
 'Publishing': 4,
 '40': 1,
 'Marketing': 156,
 'LawEnforcement-Security': 10,
 'HumanResources': 2,
 'Telecommunications': 2}

In [36]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))

In [37]:
Y=binarizer.fit_transform(data.labels)

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)

In [40]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [41]:
model=LogisticRegression(solver='lbfgs')

In [42]:
model=OneVsRestClassifier(model)

In [43]:
model.fit(Xtrain,Ytrain)

OneVsRestClassifier(estimator=LogisticRegression())

In [44]:
Ypred=model.predict(Xtest)

In [45]:
Ypred_inversed = binarizer.inverse_transform(Ypred)
y_test_inversed = binarizer.inverse_transform(Ytest)

In [46]:
for i in range(5):
    print('Text:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        Xtest[i],
        ','.join(y_test_inversed[i]),
        ','.join(Ypred_inversed[i])
    ))

Text:	  (0, 203034)	1
  (0, 396052)	1
  (0, 312628)	1
  (0, 22273)	1
  (0, 319058)	1
  (0, 52528)	1
  (0, 528429)	1
  (0, 420587)	1
  (0, 450189)	1
  (0, 131554)	1
  (0, 139077)	1
  (0, 477858)	1
  (0, 529247)	1
  (0, 215738)	1
  (0, 334172)	1
  (0, 567161)	1
  (0, 13357)	1
  (0, 229515)	1
  (0, 332005)	1
  (0, 461980)	1
  (0, 403052)	1
  (0, 222683)	1
  (0, 51214)	1
  (0, 611860)	1
  (0, 586020)	1
  :	:
  (0, 182033)	1
  (0, 458651)	1
  (0, 362964)	1
  (0, 373545)	1
  (0, 284149)	1
  (0, 338770)	1
  (0, 50877)	1
  (0, 503598)	1
  (0, 215261)	1
  (0, 13477)	1
  (0, 282460)	1
  (0, 50718)	1
  (0, 331255)	1
  (0, 392444)	1
  (0, 576338)	1
  (0, 586046)	1
  (0, 22004)	1
  (0, 94801)	1
  (0, 458572)	1
  (0, 452638)	1
  (0, 88767)	1
  (0, 210987)	1
  (0, 274241)	1
  (0, 507386)	1
  (0, 104468)	1
True labels:	27,Pisces,Technology,male
Predicted labels:	27,Pisces,male


Text:	  (0, 593438)	1
  (0, 541965)	1
  (0, 334172)	1
  (0, 567161)	1
  (0, 611860)	1
  (0, 586020)	1
  (0, 194964)	1
  (0, 326192)	1
  (0, 491585)	1
  (0, 192374)	1
  (0, 215891)	1
  (0, 31409)	1
  (0, 47563)	1
  (0, 359254)	1
  (0, 456976)	1
  (0, 306682)	1
  (0, 266443)	1
  (0, 80445)	1
  (0, 363386)	1
  (0, 419632)	1
  (0, 341960)	1
  (0, 496846)	1
  (0, 308748)	1
  (0, 173148)	1
  (0, 276816)	1
  :	:
  (0, 307020)	1
  (0, 371722)	1
  (0, 623258)	1
  (0, 536497)	1
  (0, 158091)	1
  (0, 406942)	1
  (0, 192663)	1
  (0, 490045)	1
  (0, 142207)	1
  (0, 590826)	1
  (0, 457012)	1
  (0, 406950)	1
  (0, 397799)	1
  (0, 541215)	1
  (0, 129578)	1
  (0, 414846)	1
  (0, 34490)	1
  (0, 216008)	1
  (0, 40564)	1
  (0, 60264)	1
  (0, 561162)	1
  (0, 486381)	1
  (0, 496931)	1
  (0, 211501)	1
  (0, 298652)	1
True labels:	34,Sagittarius,female,indUnk
Predicted labels:	34,Sagittarius,female,indUnk


Text:	  (0, 555609)	1
  (0, 59616)	1
  (0, 462538)	1
  (0, 341960)	1
  (0, 272422)	1
  (0, 276924)	1
  (0, 447643)	1
  (0, 235189)	1
  (0, 559897)	1
  (0, 454631)	1
  (0, 564134)	1
  (0, 342270)	1
  (0, 272522)	1
  (0, 3509)	1
  (0, 461820)	1
  (0, 122178)	1
  (0, 273175)	1
  (0, 25080)	1
  (0, 137683)	1
  (0, 511384)	1
  (0, 231444)	1
  (0, 359181)	1
  (0, 280009)	1
  (0, 564137)	1
  (0, 3541)	1
  (0, 342379)	1
  (0, 462619)	1
  (0, 511388)	1
  (0, 273190)	1
  (0, 277164)	1
  (0, 448137)	1
  (0, 511389)	1
  (0, 359182)	1
  (0, 280012)	1
  (0, 122182)	1
  (0, 25134)	1
  (0, 555633)	1
  (0, 448175)	1
  (0, 560591)	1
  (0, 272436)	1
  (0, 137704)	1
  (0, 461827)	1
  (0, 277169)	1
  (0, 454646)	1
  (0, 231446)	1
  (0, 59729)	1
  (0, 235339)	1
  (0, 272526)	1
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Text:	  (0, 593438)	1
  (0, 68242)	1
  (0, 595528)	1
  (0, 357772)	1
  (0, 125092)	1
  (0, 593675)	1
  (0, 471350)	1
  (0, 471353)	1
  (0, 593888)	1
  (0, 125114)	1
  (0, 68376)	1
True labels:	27,Taurus,female,indUnk
Predicted labels:	Aries,female


Text:	  (0, 593438)	1
  (0, 52528)	1
  (0, 450189)	1
  (0, 218079)	1
  (0, 469055)	1
  (0, 442891)	1
  (0, 37799)	1
  (0, 225428)	1
  (0, 115987)	1
  (0, 127378)	1
  (0, 431617)	1
  (0, 377192)	1
  (0, 163272)	1
  (0, 486771)	1
  (0, 378712)	1
  (0, 301058)	1
  (0, 614719)	1
  (0, 489317)	1
  (0, 100576)	1
  (0, 353899)	1
  (0, 386746)	1
  (0, 35863)	1
  (0, 565798)	1
  (0, 97699)	1
  (0, 629805)	1
  :	:
  (0, 116094)	1
  (0, 207328)	1
  (0, 486858)	1
  (0, 53618)	1
  (0, 378798)	1
  (0, 52797)	1
  (0, 307630)	1
  (0, 595166)	1
  (0, 482763)	1
  (0, 469124)	1
  (0, 629822)	1
  (0, 125912)	1
  (0, 37912)	1
  (0, 53621)	1
  (0, 128208)	1
  (0, 384682)	1
  (0, 614840)	1
  (0, 100596)	1
  (0, 489340)	1
  (0, 431808)	1
  (0, 365487)	1
  (0, 386924)	1
  (0, 443141)	1
  (0, 365484)	1
  (0, 125921)	1
True labels:	38,Internet,Sagittarius,female
Predicted labels:	27,female,indUnk

In [47]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def print_evaluation_scores(Ytest, Ypred):
    print('Accuracy score: ', accuracy_score(Ytest, Ypred))
    print('F1 score: ', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision score: ', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall score: ', recall_score(Ytest, Ypred, average='micro'))

In [48]:
print_evaluation_scores(Ytest, Ypred)

Accuracy score:  0.327
F1 score:  0.6479783556290395
Average precision score:  0.4666435550555974
Average recall score:  0.538875

Part 2

In [1]:
import io
import random
import string
import warnings
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')

C:\Users\Admin\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Admin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Admin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:\n%s" %

In [2]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download('popular', quiet=True)

True

In [3]:
import json
f = open('GL Bot.json')
json_file = json.load(f)

In [4]:
raw=f.read()
raw = raw.lower()

In [5]:
sent_tokens = nltk.sent_tokenize(raw)
word_tokens = nltk.word_tokenize(raw)

In [6]:
lemmer = nltk.stem.WordNetLemmatizer()
def LemTokens(tokens):
    return [lemmer.lemmatize(token) for token in tokens]
remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [7]:
GREETING_INPUTS = ("hi", 
                      "how are you", 
                      "is anyone there", 
                      "hello", 
                      "whats up",
                      "hey",
                      "yo",
                      "listen", 
                      "please help me",
                      "i am learner from",
                      "i belong to",
                      "aiml batch",
                      "aifl batch",
                      "i am from",
                      "my pm is",
                      "blended",
                      "online",
                      "i am from",
                      "hey ya",
                      "talking to you for first time")
GREETING_RESPONSES = ["Hello! how can i help you ?"]
def greeting(sentence):
 
    for word in sentence.split():
        if word.lower() in GREETING_INPUTS:
            return random.choice(GREETING_RESPONSES)

In [8]:
def response(user_response):
    SAI_response=''
    sent_tokens.append(user_response)
    TfidfVec = TfidfVectorizer(tokenizer=LemNormalize, stop_words='english')
    tfidf = TfidfVec.fit_transform(sent_tokens)
    vals = cosine_similarity(tfidf[-2], tfidf)
    idx=vals.argsort()[0][-2]
    flat = vals.flatten()
    flat.sort()
    req_tfidf = flat[-2]
    if(req_tfidf==0):
        SAI_response=SAI_response+"I am sorry! I don't understand you"
        return SAI_response
    else:
        SAI_response = SAI_response+sent_tokens[idx]
        return SAI_response

In [9]:
flag=True
print("SAI: My name is SAI. I will answer your queries about AI. If you want to exit, type Bye!")
while(flag==True):
    user_response = input()
    user_response=user_response.lower()
    if(user_response!='bye'):
        if(user_response=='thanks' or user_response=='thank you' ):
            flag=False
            print("SAI: You are welcome..")
        else:
            if(greeting(user_response)!=None):
                print("SAI: "+greeting(user_response))
            else:
                print("SAI: ",end="")
                print(response(user_response))
                sent_tokens.remove(user_response)
    else:
        flag=False
        print("SAI: Bye! take care..")

SAI: My name is SAI. I will answer your queries about AI. If you want to exit, type Bye!
hi
SAI: Hello! how can i help you ?
bye
SAI: Bye! take care..